!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! rxvt-Unicode terminal emulator settings !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

URxvt.font: xft:Hack : pixelsize=15
URxvt.italicFont: 	xft:Hack:italic:autohint=true:pixelsize=15
urxvt.boldFont:         xft:Hack:bold:autohint=true:pixelsize=15

! ----- urxvt --------------------------------------------

URxvt.transparent: true
URxvt.scrollBar:		false
URxvt.scrollBar_right:		false
URxvt.shading:			0
URxvt.termname:			rxvt-unicode-256color

URxvt.borderLess: false
URxvt.savelines:		1000
URxvt.borderColor:		red
URxvt.underlineColor:		yellow

!Disables the insanely annoying Ctrl+Shift shortcut that enters ISO14755 mode
URxvt.iso14755:    false
URxvt.iso14755_52: false

! do not scroll with output
URxvt.scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

! colorschemes for URxvt
! special
URxvt.foreground:   #ffffff
URxvt.background:   #000000
URxvt.cursorColor:  #ffffff
! black
URxvt.color0:       #000000
URxvt.color8:       #000000
! red
URxvt.color1:       #ff0032
URxvt.color9:       #ff0000
! green
URxvt.color2:       #00ff0b
URxvt.color10:      #00ff0b
! yellow
URxvt.color3:       #ddb26f
URxvt.color11:      #ddb26f
! blue
URxvt.color4:       #00aaff
URxvt.color12:      #0000ff
! magenta
URxvt.color5:       #e1a3ee
URxvt.color13:      #6f0087
! cyan
URxvt.color6:       #12cfc0
URxvt.color14:      #00ffeb
! white
URxvt.color7:       #d0d0d0
URxvt.color15:      #f5f5f5

! keybindings <source https://vim.fandom.com/wiki/Get_Alt_key_to_work_in_terminal?useskin=monobook>
URxvt.keysym.M-Up             : \033[1;3A
URxvt.keysym.M-Down           : \033[1;3B
URxvt.keysym.M-Right          : \033[1;3C
URxvt.keysym.M-Left           : \033[1;3D

URxvt.keysym.C-Up             : \033[1;5A
URxvt.keysym.C-Down           : \033[1;5B
URxvt.keysym.C-Right          : \033[1;5C
URxvt.keysym.C-Left           : \033[1;5D
